* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#mia {
    position: absolute;
    border-radius: 50%;
    left: 574px;
    top: 158px;
    width: 216px;
    height: 203px;
}

.welcome {
    color: #fff;
    position: absolute;
    left: 535px;
    top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
    width: 100px;
    height: 58px;
}

#enlace1 {
    color: #fff;
    position: absolute;
    left: 466px;
    top: 508px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

#enlace2 {
    color: #fff;
    position: absolute;
    left: 780px;
    top: 508px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
}